{% load staticfiles %}
{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

	<head>

		<title>Auctioneer - {{ title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link href="{% static "style_main.css"%}" rel="stylesheet" type="text/css">

	</head>

	<body>

		<div id=Container>

			<div id=PrimaryMenu>
				<h1>Auctioneer - {{ title }}</h1>
			</div>

            {% include "links.html" %}

			<div id=TopPatch>
				<!-- Patch element at top of the page -->
			</div>

			<div id=Content>

                <div>
                    <form action="/auctioneer/auctions/" method="post">
                        {% csrf_token %}
                        <label>
                            <input type="text" name="query">
                        </label>
                        <input type="submit" class="button" value={% trans "Search" %}>
                    </form>
                </div>

                {% if is_search %}
                <div>
                    <h3>{% trans "Results for:" %}</h3>
                    <p>{{ query }}</p>
                </div>
                {% endif %}

                {% for content in content_list %}
                <div>
				    <h3>{{ content.title }}{% if content.banned %} {% trans "[BANNED]" %}{% endif %}{% if content.resolved %} {% trans "[RESOLVED]" %}{% endif %}</h3>
                    <p>{% trans "Created by:" %}Created by: {{ content.seller }}</p>
                    {% with content.bids_set.all|first as bid %}
                    {% if bid %}
                    <p>{% trans "Current price:" %} {{ bid.amount }} EUR</p>
                    {% else %}
                    <p>{% trans "Current price:" %} {{ content.startingPrice }} EUR</p>
                    {% endif %}
                    {% endwith %}
                    <p>{% trans "Start date:" %} {{ content.startDate }}</p>
                    <p>{% trans "Deadline:" %} {{ content.stopDate }}</p>
                    <form action="/auctioneer/auctions/{{ content.id }}" method="get">
                        <input type="submit" class="button" value={% trans "Details" %}>
                    </form>
                </div>
                {% empty %}
                <div>
                    <h3>{% trans "No content!" %}</h3>
                </div>
                {% endfor %}

			</div>

		</div>

	</body>

</html>