{% load staticfiles %}
{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

	<head>

		<title>Auctioneer - {{ title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link href="{% static "style_main.css"%}" rel="stylesheet" type="text/css">

	</head>

	<body>

		<div id=Container>

			<div id=PrimaryMenu>
				<h1>Auctioneer - {{ title }}</h1>
			</div>

            {% include "links.html" %}

			<div id=TopPatch>
				<!-- Patch element at top of the page -->
			</div>

			<div id=Content>

                <div>
                    <h3>{% trans "Create Auction" %}</h3>
                </div>

                {% if message %}
                <div>
                    <h3>{{ message }}</h3>
                </div>
                {% endif %}

                <div>
                    <form action="/auctioneer/auctions/create/" method="post">
                        {% csrf_token %}
                        <label>
                            <span>{% trans "Title" %}</span>
                            <input class="field" type="text" name="title">
                        </label>
                        <label>
                            <span>{% trans "Description" %}</span>
                            <textarea rows="5" cols="30" name="description"></textarea>
                        </label>
                        <label>
                            <span>{% trans "Starting price" %}</span>
                            <input class="field" type="text" name="starting_price">
                        </label>
                        <label>
                            <span>{% trans "Start date (YYYY-MM-DD hh:mm or 'now')" %}</span>
                            <input class="field" type="text" name="start">
                        </label>
                        <label>
                            <span>{% trans "Deadline (YYYY-MM-DD hh:mm)" %}</span>
                            <input class="field" type="text" name="stop">
                        </label>
                        <p>{% trans "NOTE: Minimum duration is 3 days (72h)" %}</p>
                        <input type="submit" class="button" value={% trans "Create" %}>
                    </form>
                </div>

			</div>

		</div>

	</body>

</html>