{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

	<head>
	
		<title>Auctioneer - {{ title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link href="{% static "style_main.css"%}" rel="stylesheet" type="text/css">
		
	</head>

	<body>	
	
		<div id=Container>
		
			<div id=PrimaryMenu>
				<h1>Auctioneer - {{ title }}</h1>
			</div>
			
            {% include "links.html" %}
			
			<div id=TopPatch>
				<!-- Patch element at top of the page -->			
			</div>
		
			<div id=Content>

                <div>
                    <h3>Latest auctions</h3>
                </div>

                {% for content in content_list %}
                <div>
				    <h3>{{ content.title }}</h3>
                    <p>Created by: {{ content.seller }}</p>
                    {% with content.bids_set.all|first as bid %}
                    {% if bid %}
                    <p>Current price: {{ bid.amount }} EUR</p>
                    {% else %}
                    <p>Current price: {{ content.startingPrice }} EUR</p>
                    {% endif %}
                    {% endwith %}
                    <p>Deadline: {{ content.stopDate }}</p>
                </div>
                {% empty %}
                <div>
                    <h3>No content!</h3>
                </div>
                {% endfor %}

			</div>
			
		</div>
		
	</body>

</html>