{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

	<head>
	
		<title>DEWAS: Auctioneer</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link href="{% static "style_main.css"%}" rel="stylesheet" type="text/css">
		
	</head>

	<body>	
	
		<div id=Container>
		
			<div id=PrimaryMenu>
				<h1>Primary Navigation</h1>		
			</div>
			
			<div id=SecondaryMenu>
				<h2>Secondary Navigation</h2>		
			</div>
			
			<div id=TopPatch>
				<!-- Patch element at top of the page -->			
			</div>
		
			<div id=Content>	
				<h3>Content Heading</h3>
				<p>Paragraph 1</p>
				<p>Paragraph 2</p>
				<p>Lorem ipsum dolor sit amet, consecteteur adipiscing elit lacinia risus. Nibh primis ultricies justo nam odio pede iaculis justo at nascetur faucibus. Adipiscing vestibulum at urna proin natoque pulvinar ornare vestibulum interdum lacinia malesuada cras. In urna nulla venenatis nec pellentesque cursus. Felis hymenaeos odio nulla fames aliquet ac, ad nisi donec, metus a, mollis pede. Duis adipiscing tellus, augue hac quam. Volutpat ve per duis. Cursus magna arcu orci feugiat velit sem tempor. Dapibus, senectus. Purus. Dignissim dictumst. Arcu eni. Vestibulum nostra, diam duis conubia at quis mi porta tortor pharetra. Fusce etiam luctus. Dictumst, eros.

Nunc feugiat ad, per mi. Sed, commodo eros. Metus facilisis. Potenti amet mi vel diam duis purus pharetra, fusce sem sodales in, duis amet litora semper orci. Et, nam ornare id purus ullamcorper. Primis sociosqu penatibus ad. Amet orci fames porttitor inceptos litora tellus proin. Purus mi litora felis feugiat litora. A viverra ut cubilia diam, suscipit pharetra netus pellentesque. Arcu libero euismod sodales habitasse. Curabitur ad at ipsum in proin in. A, sollicitudin orci, etiam urna per varius aptent velit eu cursus hac ut. Semper venenatis mus, inceptos tristique mi consequat facilisis vestibulum. Semper in maecenas duis nostra hac blandit. Laoreet, in, nam enim odio vitae. Gravida orci eget. Sagittis at ullamcorper elit, amet, habitasse bibendum velit egestas venenatis, eros.

Imperdiet mi, ultricies velit hymenaeos ante. Blandit tempor. Augue tortor ullamcorper vitae. Metus mauris proin semper tristique parturient arcu turpis. Tincidunt aptent, varius. Montes duis, dictum consequat habitasse neque vel velit ridiculus sit. Blandit quisque taciti lorem posuere, habitasse, lobortis nostra pharetra cubilia nunc ve felis condimentum ultrices. Arcu curabitur luctus, varius, quisque rhoncus fringilla elit metus at augue et. Platea nonummy. Ullamcorper nibh, erat, magna blandit luctus. Duis auctor adipiscing consectetuer integer, vitae enim nascetur suspendisse. Natoque quisque ante tincidunt lectus. Nisl dignissim sociis semper, proin vel risus sit tristique, taciti adipiscing. Sapien metus volutpat sit quisque senectus nisi sociosqu lorem mattis.

Elementum morbi tempor. Amet molestie ipsum cras justo, vitae vehicula velit, morbi. Sollicitudin. Vestibulum eni. Risus. Ut, est justo, fusce, dis netus fermentum lobortis augue. Rhoncus nulla in eget ut pellentesque. Elit. Lorem. Enim sodales eget, purus arcu ad hymenaeos viverra, curae viverra viverra nunc. Quisque per adipiscing tortor, nam.

Aliquam ad mus ullamcorper laoreet consectetuer luctus ipsum aliquet, rhoncus, vehicula nostra enim. Ante lacus senectus. A, scelerisque per, primis nec orci quis, erat purus netus morbi. Risus lorem luctus. Netus hac diam consectetuer in vivamus mi. Non nibh est arcu accumsan. Felis dolor nostra ve class fusce a, viverra tellus, arcu elit dictumst fusce rhoncus ridiculus. Erat, nullam nec, enim. Ante dapibus tortor, quis scelerisque id, litora facilisi amet. Eu lorem at elementum fusce. Fusce eu ligula volutpat venenatis nisi elit. Eget sociosqu. Odio. Mi massa ve magna. Natoque, aliquet egestas curabitur habitant semper taciti in elit nibh consequat ve. Magnis eu id id.

Lorem ipsum dolor sit amet, consecteteur adipiscing elit lorem rhoncus, ultricies, diam est. Ridiculus netus ultricies. Morbi ve eu non platea porttitor habitant ipsum massa sit. Eget commodo varius. Viverra penatibus interdum ad class amet a vitae at dolor. Justo in curabitur condimentum. Quam aenean curabitur faucibus, in condimentum elit, nisl nec netus curabitur mollis proin. Ridiculus purus sed duis neque fermentum convallis enim. Auctor porta id risus et ultricies ipsum. Elementum nisi eni natoque libero quis mi tristique donec neque taciti magnis tristique. Magna cubilia. Ad quam phasellus vehicula, metus integer pede, enim, venenatis nec. Sociosqu eros, cum dolor dui urna nunc, per turpis augue. Ve orci suscipit gravida, quisque aenean ad nec fermentum pharetra, ornare varius. Libero quam in cursus mi, at elit ad pellentesque integer arcu dolor. Vitae nibh at.

Vulputate, ornare vehicula ut justo tellus nisl ad morbi facilisis elit ipsum vitae. Quam nisl metus quisque nisl. Aliquet at. Orci quis vestibulum at, bibendum class in dignissim. Lobortis id, aenean sociosqu suspendisse molestie magna curabitur mus. Quis. Nullam ac ligula curabitur sodales. Neque etiam nisi, a nibh id ultrices dui, euismod ad, eros habitant non. Eu, montes. Purus nisl placerat hac magna cursus taciti ac mauris. Congue praesent hymenaeos.

Odio ve leo malesuada. Elementum placerat. Etiam sed. Rhoncus magna enim at quis mus eros sollicitudin parturient cras morbi nostra arcu blandit. Sit. Nullam netus adipiscing ac, fermentum justo mi at odio feugiat a. Potenti, mus bibendum purus montes sociis bibendum. Sem. Accumsan morbi ad ornare etiam commodo nonummy, purus ad eros. Pharetra et sed et mauris lectus. Dapibus condimentum eget imperdiet congue dictumst condimentum placerat nisl nisl fusce. Elit erat elementum tempor class ipsum turpis primis ve amet et augue. Blandit sed ve pellentesque. Nostra, habitant lacus augue duis erat nulla magnis lorem. Velit. Porttitor. Diam at eleifend commodo. Nunc. Sociis magna ullamcorper accumsan dignissim pellentesque lacinia magna diam senectus quisque, gravida diam.

Pede dolor morbi eni sociosqu. Consectetuer. Litora elit, magnis fames velit molestie arcu, interdum ridiculus maecenas nulla. Mattis vehicula parturient sapien diam consectetuer ut massa ad fusce ut mattis. Potenti. Pharetra etiam pulvinar nulla sollicitudin, inceptos magna. At congue viverra ut, duis nascetur per, libero sit. Ante netus ornare metus. Vestibulum nec metus litora proin, netus. Laoreet pulvinar duis mus pede. Ipsum.

Adipiscing felis elit. Nunc parturient dictum, urna quisque et, auctor phasellus dapibus diam vestibulum cras fringilla lobortis, tempus ornare lorem integer. Tempor lacinia nunc eleifend tincidunt quam non nisi phasellus mauris. Id venenatis gravida, dolor lacus nisi eget. At sociosqu pretium commodo turpis quam lacus montes aptent. Risus elementum quisque consectetuer cursus fames. Fusce arcu, potenti, netus cras a nibh. Lorem donec pharetra ve, porta penatibus phasellus magna ridiculus dui ridiculus proin ve non ad dapibus. Iaculis diam sollicitudin inceptos felis ultricies dolor ve et. Lorem cras gravida. Nisi nibh parturient erat venenatis. Ligula, platea, posuere, rhoncus porttitor ac hendrerit laoreet, cras id urna. Nisi.

</p>
			</div>
			
		</div>
		
	</body>

</html>